# DSC 540 Week 11&12 Assignment 
## By: Jamie Tran 
## Date: 2/24/2024

### Libraries Downloaded:

In [19]:
import sqlite3

### Activity 11:

In [25]:
#Importing petsDB data.
pets = sqlite3.connect('petsdb')

In [26]:
#Creating a function with try and except to see if the import was successful.
def is_open(pets):
    try: 
        pets.execute('SELECT * FROM persons LIMIT 1')
        return True
    except sqlite3.ProgrammingError as e:
        return False

In [27]:
#Checking to see if the connection was successful. 
print(is_open(pets))

True

In [29]:
#Creating a for loop to find the different ages in the data.
cursor = pets.cursor()
for people, age in cursor.execute('SELECT count(*), age FROM persons GROUP BY age'):
    print('We have {} people aged {}'.format(people, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [33]:
#Using a for loop I will find which age group is the most populous. 
for people, age in pets.execute('SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC'):
    print('Highest number of people {} came from {} age group'.format(people, age))
    break

Highest number of people 5 came from 73 age group

In [37]:
#Using for loop to see how many peope do not have their full name in this dataset. 
parse = pets.execute('SELECT count(*) FROM persons WHERE last_name IS null')
for row in parse:
    print(row)

(60,)

In [41]:
#Using for loop to see how many people have more than one pet.
parse2 = pets.execute('SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)')
for row in parse2:
    print('{} people have more than one pet'.format(row[0]))

43 people have more than one pet

In [40]:
#Using for loop to see how many pets have recieved treatments.
parse3 = pets.execute('SELECT count(*) FROM pets WHERE treatment_done=1')
for row in parse3: 
    print(row)

(36,)

In [43]:
#Using for loop to see how many treated pets have a known type of pet. 
parse4 = pets.execute('SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null')
for row in parse4:
    print(row)

(16,)

In [46]:
#Using for loop to how many pets are from east port. 
parse5 = pets.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port"')
for row in parse5:
    print(row)

(49,)

In [50]:
#Using for loop to how many treated pets are from east port. 
parse6 = pets.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port" AND pets.treatment_done=1')
for row in parse6:
    print(row)

(11,)